# Build outputs
/target/
/target-dep-test/
**/*.d
**/*.pdb

# OS junk
Thumbs.db
.DS_Store

# IDE/editor
.vscode/
.idea/

# Local artifacts
rhelper-distribution/*.zip
rhelper-distribution/*.exe
rhelper.zip
*.zip
*.log
dist/

# Exclude CLI tool (local only)
razer-cli/
